@import '../utils/variables';

.app__main {
    background-color: $main-background-color;

    #app__main__hero {
        padding: 32px 0;
    
       @include for-phone-only{
        .hero-row{
            flex-wrap: nowrap !important;
        }
        overflow-x: scroll;
       }
        .hero__ads {
            height: 100%;
            width: 100%;
            @include for-phone-only{
                height: 255px;
            }
            border-radius: 10px;
            position: relative;
            &--image_wrapper{
                height: 100%;
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &--content{
                position: absolute;
                left: 24px;
                top: 24px;
                h2{
                    max-width: 300px;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 48px;
                    color: #FFFFFF;
                    margin-bottom: 16px;
                    @include  for-phone-only{
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 12px;
                    }
                }
                p{
                    max-width: 300px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;
                    margin-bottom: 20px;
                    @include  for-phone-only{
                        font-size: 12px;
                        line-height: 19.2px;
                        max-width: 222px;
                        margin-bottom: 16px;
                    }
                }
                button{
                    margin-bottom: 16px;
                }
            }
           
        }
        .ads--1 {
            background-color: $information-default-500;
        }

        .ads--2 {
            background-color: $primary-default-500;
        }
    }

    #app__main__pickdrop{
        padding-bottom: 42px;
        .pick__up{
            @include for-phone-only{
                margin-bottom: 32px;
            }
        }
        .pick-drop-row{
            position: relative;
        }
        .app__main__pickdrop--pick{
            padding: 24px 48px 28px 48px;
            @include for-phone-only{
                padding: 16px;
            }
            background-color: white;
            border-radius: 10px;
            .form-check{
                margin-bottom: 16px;
            }
            .location__date{
                border-right: 1px solid #C3D4E9;
            }
            .inputWrap{
                position: relative;
            }
            span{
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #1A202C;
            }
            img{
                margin-right: 8px;
            }
            select,label{
                width: 100%;
                font-size: 12px;
                font-weight: 500;
                line-height: 15.12px;
                color: #90A3BF;
                border: none;
                background:none;
                margin: -5px;
                cursor: pointer;
            }
            .pickUp-span{
                font-weight: 600;
                color: #1A202C;
            }
            .pickUpMark-wrapper{
                margin-bottom: 18px;
            }
            #pickDateInput,#pickTimeInput,#dropDateInput,#dropTimeInput{
                visibility: hidden;
                opacity: 0;
                height: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .shuffle-btn-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                padding: 27px 21px;
                i{
                    display: block;
                }
            }
            @include for-phone-only{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
         }
    }

    #app__main__popular-cars{
        .popular-car-title__row{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            span{
                font-weight: 600;
                font-size: 16px;
                line-height: 20.16px;
                color: $secondary-light-300;
            }
            a{
                color: $primary-default-500;
                font-weight: 600;
                line-height: 20.16px;
            }
        }
        .popular-cars__row{
            @include for-phone-only{
                display: flex;
                flex-wrap: nowrap !important;
                overflow-x: scroll;
            }
        }
    }

    #app__main__recommended-cars{
        padding-top: 12px;
        padding-bottom: 64px;
        .recommended-car_row{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            span{
                font-weight: 600;
                font-size: 16px;
                line-height: 20.16px;
                color: $secondary-light-300;
            }
            a{
                color: $primary-default-500;
                font-weight: 600;
                line-height: 20.16px;
            }
        }
        .showmore-row{
            display: flex;
            justify-content: center;
            position: relative;
            span{
                position: absolute;
                right: 0;
                top:50%;
                transform: translateY(-50%);
                font-weight: 500;
                line-height: 21px;
                color: $secondary-light-300;
            }
        }
    }
}
.home-nav{
    padding: 40px 0px !important;
    h2{
        margin-left: 0;
    }
}