$primary-default-500: #3563E9;
$primary-dark-700: #1A37A7;
$information-default-500: #54A6FF;

$secondary-default-500: #1A202C;
$secondary-light-300: #90A3BF;
$secondary-light-400: #596780;

$footer-text-color: rgba(19, 19, 19, 0.6);
$main-background-color: #F6F7F9;