.btn{
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3563E9;
    border-radius: 4px;
    height: 44px;
    gap: 8px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    background: #3563E9;
    color: white;
    border: 0;
}
