* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #3563E9;
  border-radius: 4px;
  height: 44px;
  gap: 8px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: white;
  border: 0;
}

.button-light {
  background: #54A6FF;
}

.card {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 24px;
  border: none;
  margin-bottom: 32px;
  transition: 0.2s;
}
.card:hover img {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.card-title-wishlist {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.card-title-wishlist h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.card-title-wishlist span {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #90A3BF;
}
.card-title-wishlist i {
  font-size: 24px;
}
.card-image {
  display: flex;
  justify-content: center;
  padding: 0px 12px;
  margin-top: 64px;
  height: 72px;
  position: relative;
}
.card-image-layer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}
.card-icons {
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
}
.card-icons i {
  color: #90A3BF;
}
.card-icons span {
  color: #90A3BF;
}
.card-price_btn {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}
.card-price_btn .price {
  font-weight: 700;
  line-height: 25.2px;
  font-size: 20px;
}
.card-price_btn .per-day {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.64px;
  color: #90A3BF;
}
.card-price_btn p {
  font-weight: 600;
  line-height: 17.64px;
  color: #90A3BF;
}
@media (max-width: 576px) {
  .card .card-image-icon_wrapper {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card .card-image-icon_wrapper .card-image {
    margin-top: 0;
  }
  .card .card-image-icon_wrapper .card-image img {
    object-fit: contain;
    width: 142px;
  }
  .card .card-image-icon_wrapper .card-icons {
    margin-top: 0;
    display: block;
  }
  .card .card-image-icon_wrapper .card-icons__item {
    margin-bottom: 12px;
  }
}

.hidden-card {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 32px;
  align-items: center;
  background-color: white;
}

  nav h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #3563E9;
    margin-left: 28px; }

.header-icons {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.header-icons .icons__container {
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 50%;
  padding: 13px;
  position: relative;
}
.header-icons .icons__container svg {
  width: 20px;
  color: #596780;
}
.header-icons .icons__container img {
  position: absolute;
  top: 0;
}

@media (max-width: 576px) {
  nav {
    padding: 32px 25px; }
    nav h2 {
      margin: 0;
      font-size: 24px; }
    nav .icons__container {
      display: none; }
    nav img {
      width: 28px;
      height: 28px; } }

footer {
  padding: 80px 60px 60px 60px;
  background-color: white; }
  footer h2 {
    margin-left: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #3563E9; }
  footer .footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px; }
  footer .footer__line {
    width: 100%;
    border: 1px solid rgba(19, 19, 19, 0.16);
    margin: 40px 0; }
  footer .footer__bottom {
    display: flex;
    justify-content: space-between; }

.footer__top .footer-top__left {
  width: 60%;
}
.footer__top .footer-top__left p {
  width: 292px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(19, 19, 19, 0.6);
  margin-top: 16px;
}
.footer__top .footer-top__right {
  width: 40%;
  display: flex;
  column-gap: 60px;
  row-gap: 50px;
  flex-wrap: wrap;
}
.footer__top .footer-top__right .footer__list {
  width: 132px;
}
.footer__top .footer-top__right .footer__list h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1A202C;
  margin-bottom: 25px;
}
.footer__top .footer-top__right .footer__list ul {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 0;
}
.footer__top .footer-top__right .footer__list ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  cursor: pointer;
  color: rgba(19, 19, 19, 0.6);
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  column-gap: 13px;
  row-gap: 32px;
}
.footer__bottom span {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1A202C;
}
.footer__bottom .footer-bottom__right {
  display: flex;
  justify-content: space-between;
  width: 345px;
}

@media (max-width: 576px) {
  footer {
    padding: 24px;
    background-color: transparent;
  }
  .footer__top .footer-top__left {
    width: 100%;
  }
  .footer__top .footer-top__left p {
    font-size: 12px;
  }
  .footer__top .footer-top__right {
    width: 100%;
  }
  .footer__top .footer-top__right .footer__list {
    width: 120px;
  }
  .footer__bottom span {
    font-size: 12px;
  }
  .footer__list:nth-child(2) {
    order: 1;
  }
}
.app__main {
  background-color: #F6F7F9; }
  .app__main #app__main__hero {
    padding: 32px 0; }
    @media (max-width: 576px) {
      .app__main #app__main__hero {
        overflow-x: scroll; }
        .app__main #app__main__hero .hero-row {
          flex-wrap: nowrap !important; } }
    .app__main #app__main__hero .hero__ads {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      position: relative; }
      @media (max-width: 576px) {
        .app__main #app__main__hero .hero__ads {
          height: 255px; } }
      .app__main #app__main__hero .hero__ads--image_wrapper {
        height: 100%;
        width: 100%; }
        .app__main #app__main__hero .hero__ads--image_wrapper img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .app__main #app__main__hero .hero__ads--content {
        position: absolute;
        left: 24px;
        top: 24px; }
        .app__main #app__main__hero .hero__ads--content h2 {
          max-width: 300px;
          font-weight: 600;
          font-size: 32px;
          line-height: 48px;
          color: #FFFFFF;
          margin-bottom: 16px; }
          @media (max-width: 576px) {
            .app__main #app__main__hero .hero__ads--content h2 {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 12px; } }
        .app__main #app__main__hero .hero__ads--content p {
          max-width: 300px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
          margin-bottom: 20px; }
          @media (max-width: 576px) {
            .app__main #app__main__hero .hero__ads--content p {
              font-size: 12px;
              line-height: 19.2px;
              max-width: 222px;
              margin-bottom: 16px; } }
        .app__main #app__main__hero .hero__ads--content button {
          margin-bottom: 16px; }
    .app__main #app__main__hero .ads--1 {
      background-color: #54A6FF; }
    .app__main #app__main__hero .ads--2 {
      background-color: #3563E9; }
  .app__main #app__main__pickdrop {
    padding-bottom: 42px; }
    @media (max-width: 576px) {
      .app__main #app__main__pickdrop .pick__up {
        margin-bottom: 32px; } }
    .app__main #app__main__pickdrop .pick-drop-row {
      position: relative; }
    .app__main #app__main__pickdrop .app__main__pickdrop--pick {
      padding: 24px 48px 28px 48px;
      background-color: white;
      border-radius: 10px; }
      @media (max-width: 576px) {
        .app__main #app__main__pickdrop .app__main__pickdrop--pick {
          padding: 16px; } }
      .app__main #app__main__pickdrop .app__main__pickdrop--pick .form-check {
        margin-bottom: 16px; }
      .app__main #app__main__pickdrop .app__main__pickdrop--pick .location__date {
        border-right: 1px solid #C3D4E9; }
      .app__main #app__main__pickdrop .app__main__pickdrop--pick .inputWrap {
        position: relative; }

      .app__main #app__main__pickdrop .app__main__pickdrop--pick label {
        font-weight: 600;
        color: #1A202C; }

      .app__main #app__main__pickdrop .app__main__pickdrop--pick span {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #1A202C; }

      .app__main #app__main__pickdrop .app__main__pickdrop--pick img {
        margin-right: 8px; }

      .app__main #app__main__pickdrop .app__main__pickdrop--pick select, .app__main #app__main__pickdrop .app__main__pickdrop--pick label {
        width: 100%;
        font-size: 12px;
        font-weight: 500;
        line-height: 15.12px;
        color: #90A3BF;
        border: none;
        background: none;
        margin: -5px;
        cursor: pointer; }

      .app__main #app__main__pickdrop .app__main__pickdrop--pick .pickUp-span {
        font-weight: 600;
        color: #1A202C; }
      .app__main #app__main__pickdrop .app__main__pickdrop--pick .pickUpMark-wrapper {
        margin-bottom: 18px; }

      .app__main #app__main__pickdrop .app__main__pickdrop--pick #pickDateInput, .app__main #app__main__pickdrop .app__main__pickdrop--pick #pickTimeInput, .app__main #app__main__pickdrop .app__main__pickdrop--pick #dropDateInput, .app__main #app__main__pickdrop .app__main__pickdrop--pick #dropTimeInput {
        visibility: hidden;
        opacity: 0;
        height: 0;
        position: absolute;
        right: 0;
        top: 0; }
    .app__main #app__main__pickdrop .shuffle-btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: center; }
      .app__main #app__main__pickdrop .shuffle-btn-wrapper button {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        padding: 27px 21px; }
        .app__main #app__main__pickdrop .shuffle-btn-wrapper button i {
          display: block; }
      @media (max-width: 576px) {
        .app__main #app__main__pickdrop .shuffle-btn-wrapper {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); } }
  .app__main #app__main__popular-cars .popular-car-title__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    .app__main #app__main__popular-cars .popular-car-title__row span {
      font-weight: 600;
      font-size: 16px;
      line-height: 20.16px;
      color: #90A3BF; }
    .app__main #app__main__popular-cars .popular-car-title__row a {
      color: #3563E9;
      font-weight: 600;
      line-height: 20.16px; }
  @media (max-width: 576px) {
    .app__main #app__main__popular-cars .popular-cars__row {
      display: flex;
      flex-wrap: nowrap !important;
      overflow-x: scroll; } }
  .app__main #app__main__recommended-cars {
    padding-top: 12px;
    padding-bottom: 64px; }
    .app__main #app__main__recommended-cars .recommended-car_row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px; }
      .app__main #app__main__recommended-cars .recommended-car_row span {
        font-weight: 600;
        font-size: 16px;
        line-height: 20.16px;
        color: #90A3BF; }
      .app__main #app__main__recommended-cars .recommended-car_row a {
        color: #3563E9;
        font-weight: 600;
        line-height: 20.16px; }
    .app__main #app__main__recommended-cars .showmore-row {
      display: flex;
      justify-content: center;
      position: relative; }
      .app__main #app__main__recommended-cars .showmore-row span {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 500;
        line-height: 21px;
        color: #90A3BF; }

.payment-container {
  display: flex;
  padding: 32px;
  background-color: #F6F7F9;
  column-gap: 32px;
  row-gap: 32px;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap-reverse;
}
.payment-container .payment-container__left {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  border-radius: 10px;
}
.payment-container .payment-card {
  background-color: white;
  padding: 24px;
  border-radius: 10px;
}
.payment-container .payment-card__head {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.payment-container .payment-card__head h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #1A202C;
}
.payment-container .payment-card__head span {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #90A3BF;
}
.payment-container label {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 385px;
}
.payment-container label span {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1A202C;
  margin-bottom: 16px;
}
.payment-container label svg {
  position: absolute;
  width: 13px;
  color: #90A3BF;
  right: 8%;
  top: 64%;
}
.payment-container label input, .payment-container label select {
  background: #F6F7F9;
  border: none;
  border-radius: 10px;
  padding: 16px 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.payment-container .payment-card .pick-drop {
  display: flex;
  align-items: center;
  margin: 32px 0 24px 0;
  position: relative;
}
.payment-container .payment-card .pick-drop span {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1A202C;
  margin-left: 8px;
}
.payment-container .payment-card .pick-drop .pick-selected {
  display: none;
  position: absolute;
}
.payment-container .payment-card .pick-drop .drop-selected {
  display: none;
  position: absolute;
}
.payment-container .payment-card .payment-card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 24px;
  margin-top: 32px;
}
.payment-container .payment-card button {
  padding: 16px 32px;
  top: 272px;
  background: #3563E9;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 32px 0 34px 0;
}
.payment-container .payment-card .safety-icon-container {
  position: relative;
}
.payment-container .payment-card .safety-icon-container .second-icon {
  position: absolute;
  left: 13px;
  top: 5px;
}
.payment-container .payment-card h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1A202C;
  margin: 17px 0 8px 0;
}
.payment-container .payment-card .confirmation-span {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #90A3BF;
}
.payment-container .credit-card {
  background: #F6F7F9;
  border-radius: 10px;
  padding: 24px;
  margin-top: 24px;
}
.payment-container .credit-card input {
  background-color: white;
}
.payment-container .credit-card__type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-container .credit-card__type div {
  display: flex;
  align-items: center;
}
.payment-container .credit-card__type div img {
  height: 20px;
  margin-right: 8px;
}
.payment-container .credit-card__type div span {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1A202C;
}
.payment-container .credit-card__type div input {
  width: 20px;
  height: 20px;
  margin-right: 23px;
}
.payment-container .credit-card__type img {
  height: 20px;
}
.payment-container .payment-container__right .image-container {
  display: flex;
  align-items: center;
  margin: 32px 0;
}
.payment-container .payment-container__right .image-container img {
  margin-right: 16px;
}
.payment-container .payment-container__right .image-container div h5 {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #1A202C;
}
.payment-container .payment-container__right .image-container div svg {
  color: #FBAD39;
}
.payment-container .payment-container__right .image-container div svg:nth-child(6) {
  color: #90A3BF;
}
.payment-container .payment-container__right .image-container div span {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #596780;
  margin-left: 10px;
}
.payment-container .payment-container__right .line {
  width: 100%;
  border: 1px solid rgba(195, 212, 233, 0.4);
}
.payment-container .payment-container__right .rental-info .rental-info__top div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}
.payment-container .payment-container__right .rental-info .rental-info__top div span:nth-child(1) {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #90A3BF;
}
.payment-container .payment-container__right .rental-info .rental-info__top div span:nth-child(2) {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1A202C;
  margin: 0;
}
.payment-container .payment-container__right .rental-info .rental-input-container {
  position: relative;
  margin: 32px 0;
}
.payment-container .payment-container__right .rental-info .rental-input-container input {
  background: #F6F7F9;
  border: none;
  border-radius: 10px;
  padding: 16px 32px;
  width: 100%;
}
.payment-container .payment-container__right .rental-info .rental-input-container span {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1A202C;
  position: absolute;
  right: 8%;
  top: 25%;
}
.payment-container .payment-container__right .rental-info .rental-info__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-container .payment-container__right .rental-info .rental-info__bottom .rental-car__price {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1A202C;
}

@media (max-width: 992px) {
  .payment-container {
    padding: 24px;
  }
  .payment-container label {
    width: 100%;
  }
  .payment-container label span {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #1A202C;
  }
  .payment-container label input, .payment-container label select {
    padding: 18px 24px;
  }
  .payment-container .payment-card__head {
    align-items: start;
  }
  .payment-container .payment-card__head h3 {
    font-size: 16px;
  }
  .payment-container .payment-card__head span {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #90A3BF;
  }
  .payment-container .payment-card {
    padding: 16px;
  }
  .payment-container .payment-card .payment-card__info {
    grid-template-columns: 1fr;
  }
  .payment-container .payment-card button {
    padding: 10px 16px;
    font-size: 12px;
    line-height: 15px;
    margin: 24px 0 34px 0;
    border-radius: 4px;
  }
  .payment-container .payment-card h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #1A202C;
    margin: 13px 0 4px 0;
  }
  .payment-container .payment-card .confirmation-span {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #90A3BF;
  }
  .payment-container .credit-card {
    padding: 10px 16px;
  }
  .payment-container .credit-card__type div span {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #1A202C;
  }
  .payment-container .credit-card__type div input {
    width: 13px;
    height: 13px;
  }
  .payment-container .credit-card__type img {
    height: 16px;
  }
  .payment-container .payment-container__right .image-container {
    margin: 24px 0;
  }
  .payment-container .payment-container__right .image-container div h5 {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.03em;
  }
  .payment-container .payment-container__right .image-container div svg {
    color: #FBAD39;
    width: 10px;
  }
  .payment-container .payment-container__right .image-container div svg:nth-child(6) {
    color: #90A3BF;
  }
  .payment-container .payment-container__right .image-container div span {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #596780;
    display: block;
    margin-left: 0;
  }
  .payment-container .payment-container__right .rental-info .rental-info__top div {
    margin: 12px 0;
  }
  .payment-container .payment-container__right .rental-info .rental-info__top div span:nth-child(1) {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #90A3BF;
  }
  .payment-container .payment-container__right .rental-info .rental-input-container {
    margin: 24px 0;
  }
  .payment-container .payment-container__right .rental-info .rental-input-container span {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #1A202C;
  }
  .payment-container .payment-container__right .rental-info .rental-info__bottom .rental-car__price {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */